/*
    Position

    Flujo HTML -> Es el orden en el que aparecen los elementos en el documento
    Espacio -> Es el espacio que ocupa un elemento en el documento
*/

body {
    padding-top: 6em;
}

.menu {
    background: darkcyan;
    padding: 0.5em;
    text-align: center;
    font-size: 2em;
    position: fixed;
    top: 0;
    width: 100%;
}

.title {
    margin: 0;
}

.text {}