/* 
    No existen propiedades para imagenes en CSS

    1- Imagenes responsive. En el archivo base se recomienda poner esta regla
        img{
            max-width:100%;
        }
    
    2- Las imagenes por defecto son elementos inline, esto causa un espacio por debajo debido a su line-height, se puede solucionar de dos formas

        Dando un line-height:0 al contenedor o un displayblock a la imagen

    3- Centrado horizontal
        imagen con display:block y margenes laterales automaticos
        text-align: center, si la imagen no es de bloque

    4- Centrado vertical
        flexbox (la mejor opcion)
        vertical-align: middle. A la imagen y al texto
*/


/* .img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-container {
    background: lavender;
    text-align: center;
}

.img-container .img,
.img-container .span {
    vertical-align: middle;
} */


/* .img-container .img,
img.img-container .span {
    vertical-align: middle;
}

.img-container {
    display: table;
}

.img-container .span {
    display: table-cell;
} */

.img-container {
    display: flex;
    align-items: center;
}